inputs:
  - type: "kinesis-data-stream"
    id: "${kinesis_stream_arn}"
    expand_event_list_from_field: "logEvents"
    outputs:
      - type: "elasticsearch"
        args:
          elasticsearch_url: "https://${es_host_secret_arn}"
          api_key: "${api_key_secret_arn}"
          es_datastream_name: "${es_data_stream_name}"
